name: release-package

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: choice
        options:
          - patch
          - minor
          - major
        default: patch
        required: true

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@poolSea-staking-pool'

      - uses: actions/cache@v3
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Install project dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name: Build package
        run: npm run build

      - name: Set git config
        run: |
          git config --global user.email "sebastien@poolsea.com"
          git config --global user.name "seb369888"

      - name: Update package version
        run: git stash && npm version ${{github.event.inputs.version}} && git stash pop

      - name: Push version
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          branch: ${{ github.ref }}

      - run: npm ci

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
